<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="cn.itcast.rss"
	android:versionCode="1"
	android:versionName="1.0">
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity 
			android:name=".MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ScanActivity" />
		<activity android:name=".BookActivity" />
		<activity android:name=".RecommActivity" />
		<activity android:name=".MoreActivity" />
		<activity android:name=".SetBgActivity" />
		<service android:name=".ContentUpdateService" />
		<uses-library android:name="android.test.runner" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-sdk android:minSdkVersion="4" />
	<instrumentation
		android:name="android.test.InstrumentationTestRunner"
		android:targetPackage="cn.itcast.rss"
		android:label="Tests for My App" />
</manifest> 